# Python Basic (Part -I) - Exercises, Practice, Solution

1. Write a Python program to print the following string in a specific format.
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" Output :

Twinkle, twinkle, little star,
> 	How I wonder what you are!
> 		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 

> 	How I wonder what you are

In [5]:
#I'm gonna use \n -> Jump Lines \t -> Tabulate data
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

2. Write a Python program to get the Python version you are using.

In [0]:
import sys

In [12]:
sys.version

'3.6.9 (default, Apr 18 2020, 01:56:04) \n[GCC 8.4.0]'

3. Write a Python program to display the current date and time.
Sample Output :
Current date and time :
2014-07-05 14:34:14

In [25]:
import datetime
day = datetime.datetime.now()
print("Current date and time: ")
print(day.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time:
2020-05-10 03:14:53

4. Write a Python program which accepts the radius of a circle from the user and compute the area.

In [28]:
radious = int(input("Introduce the radious value: "))
import math
Area = math.pi*radious*2
print("The value of the area is: " + str(Area))

Introduce the radious value: 56
The value of the area is: 351.85837720205683

5. Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them

In [33]:
name = input("Introduce the name: ")
last = input("Introduce the last name: ")
concat = name + " " + last
print(concat)
print("In reverse: " + concat[::-1])

Introduce the name: Juan
Introduce the last name: Perez
Juan Perez
In reverse: zereP nauJ

6. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

In [50]:
numbers = input("Introduce the list of numbers: ")
lista = numbers.split(',')

#Tuple gives an error but work fine in VS Code
tupla = lista
print("List: ", lista)
print("Tuple: ", tupla)

Introduce the list of numbers: 7,9,5,8,4
List:  ['7', '9', '5', '8', '4']
Tuple:  ['7', '9', '5', '8', '4']

7. Write a Python program to accept a filename from the user and print the extension of that.
Sample filename : abc.java

In [51]:
filename = input('Introduce the filename and extension: ')
extension = filename.split('.')
print('The extension is: ' + str(extension[-1]))

Introduce the filename and extension: sfgfggd.java
The extension is: java

8. Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [62]:
colors_list = ["Red","Green","White" ,"Black"]
print('First value: ' + colors_list[0])
print('Last value: ' + colors_list[-1])

First value: Red
Last value: Black

9. Write a Python program to display the examination schedule. (extract the date from exam_st_date).
exam_st_date = (11, 12, 2014)

In [63]:
exam_date = (11,12,2014)
print("Examination date: %i /%i /%i"%exam_date )

Examination date: 11 /12 /2014

10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.
Sample value of n is 5

In [64]:
n = 5
p = n * 2
m = n * 3
print("Total: " + str(n+p+m))

Total: 30

11. Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).
Sample function : abs()
Expected Result :
abs(number) -> number

In [69]:
function = input("Introduce your function: ")
print(help(function))

Introduce your function: max
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

None

12. Write a Python program to print the calendar of a given month and year.
Note : Use 'calendar' module.

In [70]:
import calendar
year = int(input("Introduce year: "))
month = int(input("Intrfouce month: "))
print(calendar.month(year,month))

Introduce year: 2017
Intrfouce month: 5
      May 2017
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

13. Write a Python program to print the following here document. Go to the editor
Sample string :
a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

In [72]:
print("""a string that you "don't" have to escape 
This is a ....... multi-line heredoc 
string --------> example""")

a string that you "don't" have to escape
This is a ....... multi-line heredoc
string --------> example

14. Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)
Expected output : 9 days

In [77]:
from datetime import date
to_date = date(2014,7,2)
from_date = date(2014,7,11)
delta_date = from_date - to_date
print(delta_date.days)

9

15. Write a Python program to get the volume of a sphere with radius 6.

In [78]:
#V = (4/3)Ï€r3
import math
r = 6
V = (4/3) * math.pi * r ** 3
print("Volume: " + str(V))

Volume: 904.7786842338603

16. Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.

In [80]:
number = int(input("Introduce your number: "))
diff = 17 - number
print(abs(diff))

Introduce your number: 10
7

17. Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [83]:
number = int(input("Introduce the number: "))
if number < 100:
  print("The number is within 100")
elif number < 1000:
  print("The number is within 1000")
else :
  print("The number is within 2000")

Introduce the number: 900
The number is within 1000

18. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [85]:
number1 = int(input("Introduce the number 1: "))
number2 = int(input("Introduce the number 2: "))
number3 = int(input("Introduce the number 3: "))

if number1 == number2 and number2 == number3:
  sum = (number1 * 3) * 3
  print("Result: " + str(sum))
else:
  sum = number1 + number2 + number3
  print("Result: " + str(sum))

Introduce the number 1: 5
Introduce the number 2: 5
Introduce the number 3: 5
Result: 45