# Práctica Python

Leyendo una cadena de caracteres para contar la cantidad de letras mayúsculas y minúsculas.

In [23]:
May = 'ABCDEFGHIJKLMNOPQRSTUVWXY'
CouLetr = 0
CouMin = 0

Car = input("Inserte la cadena: ")
for letra in Car:
    if letra in May:
        CouLetr += 1
    else:
        CouMin += 1

print("La cantidad de Mayusculas es: ",CouLetr)
print("La cantidad de Minusculass es: ",CouMin)

Inserte la cadena: dsdgsdggdSTERWERWEEFDBNXbd
La cantidad de Mayusculas es:  15
La cantidad de Minusculass es:  11

Buscando la palabra que inicie con la letra en mayúscula dada.

In [2]:
ListaNom = ["Jose","Eriberto","Carolina","Lea","Manuel","Carlos"]
print(ListaNom)
Count = 0 
Letra = input("Inserte la letra a buscar: ").upper()

for nombre in ListaNom:
    if nombre.startswith(Letra):
        Count += 1
        
print("La cantidad que inician con esta letra son: ",Count)

['Jose', 'Eriberto', 'Carolina', 'Lea', 'Manuel', 'Carlos']
Inserte la letra a buscar: l
La cantidad que inician con esta letra son:  1

Contar las letra dada en la palabra.

In [3]:
palb = input("Inserte la palabra: ").upper()
letr = input("Inserte la letra a buscar: ").upper()
contador = 0

for letra in palb:
    if letra == letr:
        contador += 1

print("La cantidad de letras encontradas en la palabra son: ",contador)

Inserte la palabra: fnvklnkmvklnvksdn;eeemco
Inserte la letra a buscar: h
La cantidad de letras encontradas en la palabra son:  0

Buscando la cadena más larga dentro de ua cadena de caracteres.

In [5]:
cadAnterior = 0
Palabra = ''
ListaCad = ["Pulcro","Listo","Inteligente","Gracioso","Programacion","Lineal"]

for cadena in ListaCad:
    if len(cadena) > cadAnterior:   
        cadAnterior = len(cadena)
        Palabra = cadena

print(ListaCad)
print(Palabra)

['Pulcro', 'Listo', 'Inteligente', 'Gracioso', 'Programacion', 'Lineal']
Programacion

Buscando la cantidad de caracteres dados en una lista.

In [8]:
Num = int(input("Inserte el numero: "))
ListaPal = ["Dios","Libre","Canto","Learning","Monitor","CPU"]
print(ListaPal)

for palabra in ListaPal:
    if len(palabra) > Num:
        print(palabra)

Inserte el numero: 7
['Dios', 'Libre', 'Canto', 'Learning', 'Monitor', 'CPU']
Learning

Programa básico de suma.

In [9]:
X = int(input("Valor 1: "))
Y = int(input("Valor 2: "))
Z = int(input("Valor 3: "))

J = X+Y+Z

print("El Valor Total es: ", J)

Valor 1: 222
Valor 2: 58
Valor 3: 1
El Valor Total es:  281

Buscar el mayor valor de tres.

In [10]:
A = int(input("Valor 1: "))
B = int(input("Valor 2: "))
C = int(input("Valor 3: "))

#Definiendo la funcion para realizar el calculo.
def max_de_tres():
    if A > B and A > C:
        print("El Mayor de todos es ",A)
    elif B > A and B > C:
        print("El Mayor de todos es ",B)
    elif C > A and C > B:
        print("El mMyor de todos es ",C)
        

max_de_tres()

#Usando la funcion MAX de Python
D = max(A,B,C)
print("El Mayor de todos es ",D)

Valor 1: 54565
Valor 2: 5
Valor 3: 15154
El mayor de todos es  54565
El Mayor de todos es  54565

Invirtiendo e imprimiendo una lista.

In [12]:
ListaPrueba = ["apple", "banana", "cherry"]
print(len(ListaPrueba))
print(ListaPrueba)
ListaPrueba.reverse()
print(ListaPrueba)

3
['apple', 'banana', 'cherry']
['cherry', 'banana', 'apple']

Programa que espera un caracter y devuelve si es una vocal o una consonante.

In [13]:
L = input("Introduce tu caracter: ").upper()

if (L == 'A' or L == 'E' or L == 'I' or L == 'O' or L == 'U'):
    print("El valor es una Vocal")
else:
    print("El Valor es una consonante")

Introduce tu caracter: l
El Valor es una consonante

Programa que espera un valor Romano del I - X y devuelve su valor en número décimal.

In [14]:
ListaRomano = {"I":1, "II":2, "III":3, "IV":4, "V":5, "VI":6, "VII":7, "VIII":8, "IX":9, "X":10}

Romano = input("Introduce tu numero romano del 1 al 10: ").upper()
print("El numero en decimal es ",ListaRomano[Romano])

Introduce tu numero romano del 1 al 10: VI
El numero en decimal es  6

Buscar coincidencias dentro de una lista.

In [15]:
Q = 0
Lista1 = ["yellow", "big", "tasty"]
Lista2 = ["red", "blue", "gross"]

for x in Lista1:    
    for y in Lista2:
        if x == y:
            Q = True    
        else:   
            S = False

if Q == True:
    print("La coincidencia es: ",Q)
else:
    print("La coincidencia es: ",S)

La coincidencia es:  False

Sumar los valores dentro de una lista y multiplicar los valores de la otra.

In [16]:
ListaSum = [1,2,3,4]
ListaMult = [1,2,3,4]
P = 0
K = 1

for x in ListaSum:
    P = x + P

for i in ListaMult:
    K = i * K

print("El resultado de la lista de suma es: ",P)
print("El resultado de la lista de multiplicacion es: ",K)

El resultado de la lista de suma es:  10
El resultado de la lista de multiplicacion es:  24

Devolver el valor de la cadena inversa.

In [18]:
def inversa():
    Texto = input("Inserte su palabra: ")[::-1]
    print(Texto)

inversa()

Inserte su palabra: Juan
nauJ

Determinar si una palabra es Palíndroma o no.

In [19]:
TextoOrigen = input("Introduce tu palabra: ").upper()
Texto2 = TextoOrigen[::-1]

def palindroma():
    if TextoOrigen == Texto2:
        print("TRUE")
    else:
        print("FALSE")
    
    
palindroma()

Introduce tu palabra: Ana
TRUE

Repertir el caracter la cantidad de veces especificada.

In [21]:
A = int(input("Valor: "))
caracter = input("Caracter: ")

print(A*caracter)

Valor: 7
Caracter: i
iiiiiii

Importar la libreria time y sumas la hora, minutos y segundos y devolver el vaor total de la suma.

In [22]:
import time
Hora = (time.strftime('%H'))
Minuto = (time.strftime('%M'))
Segundo = (time.strftime('%S'))
print(Hora)
print(Minuto)
print(Segundo)

int_H = int(Hora)
int_M = int(Minuto)
int_S = int(Segundo)
J = int_H + int_M + int_S

print("La suma total de la hora es: ",J)

02
38
20
La suma total de la hora es:  60

Buscar el valor máximo y mínimo dentro de una lista.

In [24]:
ListaNum = [1,85,65,23,69,25,1]
Maximo = max(ListaNum)
Minimo = min(ListaNum)

print(ListaNum)
print("El Numero Maximo es: ", Maximo)
print("El Numero Minimo es: ", Minimo)

[1, 85, 65, 23, 69, 25, 1]
El Numero Maximo es:  85
El Numero Minimo es:  1

Buscar edad mayor dentro de una lista.

In [27]:
Counter = 0
Tupla = (25,36,56,36,85,2,1,19,15,13,50)
print(Tupla)
buscar = int(input("Inserte el vaor a buscar: "))

for edad in Tupla:
    if edad > buscar:
        Counter += 1    
        
print("La cantidad de personas mayores de buscar son: ",Counter)

(25, 36, 56, 36, 85, 2, 1, 19, 15, 13, 50)
Inserte el vaor a buscar: 20
La cantidad de personas mayores de buscar son:  6

Programa calcule si el año es Bisiesto o no.

In [28]:
anio = int(input("Inserte el año a buscar: "))

def bisiesto():
    if anio % 4 == 0 and anio % 100 != 0 or anio % 400 == 0:
        print("El año es Bisiesto")
    else:
        print("El año no es Bisiesto")
        
bisiesto()

Inserte el año a buscar: 2000
El año es Bisiesto

Calcular el número décimal del número binario dado.

In [29]:
decimal = 0
binario = input("Inserte el digito binario: ")

for digito in binario:
    decimal = decimal*2+ int(digito)

print("El numero en entero es: ",decimal)

Inserte el digito binario: 10001010
El numero en entero es:  138

Programa calcula la edad de tres personas para este año.

In [30]:
anio = int(input("Inserte el año actual: "))
persona1 = input("Inserte el nombre de la persona 1: ")
anio1 = int(input("Inserte el año de la persona 1: "))
persona2 = input("Inserte el nombre de la persona 2: ")
anio2 = int(input("Inserte el año de la persona 2: "))
persona3 = input("Inserte el nombre de la persona 3: ")
anio3 = int(input("Inserte el año de la persona 3: "))

edad1 = anio - anio1
edad2 = anio - anio2
edad3 = anio - anio3

print("La edad de ",persona1,"será: ",edad1)
print("La edad de ",persona2,"será: ",edad2)
print("La edad de ",persona3,"será: ",edad3)

Inserte el año actual: 2020
Inserte el nombre de la persona 1: Ana
Inserte el año de la persona 1: 1990
Inserte el nombre de la persona 2: Argenis
Inserte el año de la persona 2: 1993
Inserte el nombre de la persona 3: Samuel
Inserte el año de la persona 3: 1995
La edad de  Ana será:  30
La edad de  Argenis será:  27
La edad de  Samuel será:  25